.myheader{
   text-align: center;
   background-color: grey;
   background:url(https://www.pexels.com/photo/background-blur-clean-clear-531880/);
}
.profile-pic{
   border-radius: 70%;
}
.carousel-item {
 height: 500px;
    text-align: center;
}


.item1 {
  background-color:#007887;
  /*height: 100px;*/
}

.item2 {
  background-color:#ffb300;
  /*height: 100px;*/
}

.item3 {
  background-color:#f4511e;
  /*height: 100px;*/
}
image1{
  background-image: url(https://www.pexels.com/photo/background-blur-clean-clear-531880/);
}
